﻿<h1>Вы работаете — мы отдыхаем</h1>
<div class="annotation">
  <p>
    Мы не несем ответственность за изданные книги. Мы выбираем книги случайно и где попало. Наши любимые темы не определены, не глубоки и не интересны. Мы считаем, что краткость. Поэтому
    мы обходимся двумя словами, чтобы выразить все эмоции и донести смысл.
  </p>
</div>
<div class="text">
  <h2>История названия</h2>
  <p>
    Название издательства «Фрай, без штанов и Бендер» является отсылкой к известному мировому издательству  XXI века <em>«Манн, Иванов и Фербер»</em>. После того как издательство смоделировало
    искусственный интеллект (вобравший в себя 25 триллионов изданных книг) и все ее сотрудники исчезли в Бесконечном Нейронном Пространстве межгалактический совет запретил издавать бумажные
    книги.</p>
  <div class="founder-photos">
    <div><img src="i/fry.png" /></div>
    <div><img src="i/bender-ava.png" /></div>
    <div><img src="i/Skraffi.png" /></div>
    <div><img src="i/jelly.png" /></div>
    <div><img src="i/calculon.png" /></div>
    <div><img src="i/zepp.png" /></div>
  </div>
  <h2>Основатели</h2>
  <h3>Филип Джей Фрай</h3>
  <p>
    В 1999 году Фрай встречался с девушкой по имени Мишель и работал курьером в «Пиццерии Пануччи». Жизнь у него пустая, его ничего не интересует, кроме, разве что игровых автоматов.
  </p>
  <p>
    Жил он, судя по всему, у Мишель. 31 декабря 1999 года Мишель отшила его, и ему надо было доставить пиццу в криогенную лабораторию. Однако только там он заметил, что это был розыгрыш.
    Он сидел один в пустом здании лаборатории и качался на стуле, поедая пиццу, когда часы пробили полночь, и в этот момент Фрай упал со стула и попал в криогенную капсулу, в которой был
    заморожен на 1000 лет и был разморожен только 31 декабря 2999 года.</p>
  <p>
    Позднее, в эпизоде «The Why of Fry», оказалось, что это Зубастик подтолкнул Фрая, чтобы он упал в криокамеру, для того чтобы Фрай спас вселенную в серии «The Day the Earth Stood Stupid».
    В этом же эпизоде выяснилось, что Фрая подтолкнул сам Фрай, из будущего. Причина — девушка: Зубастик заключает с Фраем сделку — Филип помогает защищать Вселенную от грозящих ей в XXXI
    веке опасностей, а зубастильонцы, в свою очередь, помогают ему добиться взаимности от Лилы.</p>
  <h3>Бендер Сгибатель Родригес великий, незаконнособранный</h3>
  <p>
    Бендер Сгибатель Родригез, болееизвестный как Бендер — один из главныхперсонажей «Футурамы». Он был сделан вМексике (Тихуана) в 2997 году. Имеетсерийный номер 2716057. Бендер пьетбольшое
    количество алкоголя, чтобыподзарядить свои топливные элементы.Когда он отрыгивает, из его рта выходогонь. Авантюрист, любит курить сигары.В настоящее время живет с Фраем вквартире.
  </p>
  <h2>Сотрудники</h2>
  <h3>Скраффи Скраффингтон</h3>
  <p>
    Скраффи Скраффингтон, или простоСкраффи — уборщик в компании «ПланетЭкспресс». О нём часто повторяют шуткипро то, что он мало взаимодействует состальным коллективом и многие егопросто
    не помнят или никогда не виделираньше. Также, Скраффи являетсявладельцем 40 тыс. акций «ПланетЭкспресса», и это больше, чем уостальных сотрудников, поскольку он«больше всех любит свою
    компанию» (поего словам). Скраффи ленив и его обычноможно увидеть в подвале здания штаб«Планет Экспресс», где он читает журнал«Zero-G Jugg» или «NationalPornographic» (рус. «НэшнлПорнографик»).
    Обычно о себе говорит втретьем лице.</p>
  <p class="inset">Сотрудники издательства были не раз замечены в провокациях исовершали бессмысленные действия</p>
  <h3>Ужасный студень</h3>
  <p>Добродушный пришелец, но прибегает кнасилию даже при малейшей провокации.Как правило глотает негодяя.</p>
  <h3>Калькулон</h3>
  <p>Рекламное лицо компании.</p>
  <h3>Зепп Бранниган</h3>
  <p>
    Зепп Бранниган (англ. Zapp Brannigan,полное имя Уэбело Зепп Бранниган, англ.Webelo Zapp Brannigan) — персонаж,человек, капитан корабля Нимбус. Питаетстрастью к Лиле, но она не отвечаетвзаимностью.
    Имеет собственногопомощника — Кифа. Часто заставляет егоделать неприятную работу, например,почесать спинку, намылить Зеппу голову вдуше и так далее. Занимает должностьгенерала в армии.
  </p>
  <p>Киф ненавидит Зеппа, но вынужденслужить ему. Больше всего Киф ненавидит,когда Зепп его просит:</p>
  <ul>
    <li>потереть спинку;</li>
    <li>подать свежее нижнее белье в душ;</li>
    <li>позвонить в службу доставки парфюма и  угрозами об уничтожении выпросить 99%  скидку на любимые духи Зеппа;</li>
    <li>помыть посуду;</li>
    <li>передать вон той леди, как Зепп ее  сильно желает.</li>
  </ul>
  <p>В остальном Киф доволен службой вОграниченных Галактических Непобедимыхвойсках на должности помощника генерала.</p>
</div>
