﻿      <h1>Самое незаметное издательство</h1>
      <div class="hint">Перетаскивайте книги ниже с места на место. Это то, чем мы любим больше всего заниматься. Попробуйте, вам понравится.</div>
      <div class="book-item" ng-repeat="book in $ctrl.bookList">
        <div class="image">
          <a href="#!books/{{book.id}}"><img ng-src="{{book.cover.small}}"></a>
        </div>
        <div class="caption" ng-bind-html="book.info"></div>
      </div>
      <div>
        <button class="load-books-btn">Еще несколько книг</button>
      </div>
