﻿      <h1>Мы издаем книги &ndash; вы их можете не читать</h1>
      <div class="book-holder">
        <div class="reviews">
          <div class="item" ng-repeat="review in $ctrl.book.reviews">
            <div class="image">
              <img ng-src="{{review.author.pic}}">
            </div>
            <div class="caption">{{review.cite}}</div>
          </div>
        </div>
        <div class="book">
          <div class="image">
            <img ng-src="{{$ctrl.book.cover.large}}">
          </div>
          <div class="desc" ng-bind-html="$ctrl.book.description"></div>
        </div>
        <div class="features">
          <div class="item" ng-repeat="feature in $ctrl.book.features">
            <div class="image">
              <img ng-src="{{feature.pic}}">
            </div>
            <div class="caption">{{feature.title}}</div>
          </div>
        </div>
      </div>
      <div class="make-order">
        <button>Купить за жалкие {{$ctrl.book.price}}Z</button>
      </div>
      <div class="price-hint">
        Наши цены самые непредсказуемые и формируются нашим уборщиком Скраффи
      </div>
