﻿<!DOCTYPE html>
<html lang="ru" ng-app="futustore">
<head>
  <title>Издательство «Фрай, без штанов и Бендер»</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width" />
  <link rel="stylesheet" href="css/main.css">
</head>
<body ng-controller="primaryCtrl">
  <div class="container">
    <header>
      <div class="logo"><a href="#" ng-if="isPath('/books')"></a></div>
      <div class="search">
        <input type="text" placeholder="Поиск, скорее всего, не работает">
      </div>
    </header>
    <main ng-view>
    </main>
  </div>
  <footer><div class="bender"><a href="#!about" ng-if="isPath('/about')"></a></div></footer>
  <!-- TODO: Все это безобразие-многообразие нужно как-то упорядочить -->
  <script src="node_modules/angular/angular.min.js"></script>
  <script src="node_modules/angular-sanitize/angular-sanitize.min.js"></script>
  <script src="node_modules/angular-route/angular-route.min.js"></script>
  <script src="scripts/book-list.js"></script>
  <script src="scripts/book-detail.js"></script>
  <script src="scripts/about.js"></script>
  <script src="scripts/controllers.js"></script>
</body>
</html>