﻿@font-face {
    font-family: 'ALS Fuchsia';
    src: local('ALS Fuchsia'), 
        url(../fonts/alsfuchsia.otf/alsfuchsia.otf) format('opentype'), 
        url(../fonts/alsfuchsia.otf/__MACOSX/._alsfuchsia.otf) format('opentype');
}

.annotation{
    max-width: 880px;
    margin: 0 auto;
    font-size: 24px;

    @media only screen and (min-width: 768px) {
        font-size: 32px;
    }
}

.text {
    font-size: 19px;
    text-align: left;

    .founder-photos {
        text-align: center;
        margin: 60px 0;

        div {
            display: inline-block;
            margin: 20px 10px;

            @media only screen and (min-width: 1024px) {
                position: relative;
                width: 123px;
                height: 149px;
                margin: 0 10px;

                img {
                    position: absolute;
                    bottom: 5px;
                    left: 6px;
                }

                &:hover {
                    background-image: url(../i/crown.png);
                }
            }
        }
    }

    p, ul, h2, h3 {
        max-width: 640px;
        margin-left: auto;
        margin-right: auto;
    }

    .inset {
        font-family: 'ALS Fuchsia';
        text-align: center;
        font-size: 28px;
        font-weight: bold;

        @media only screen and (min-width: 1024px) {
            font-size: 36px;
            max-width: 880px;
        }
    }
}
