﻿.book-holder {
    @media only screen and (max-width: 768px) {
        display: table;
    }

    @media only screen and (min-width: 768px) {
        overflow: hidden;
    }
}

.book {
    @media only screen and (max-width: 768px) {
        display: table-header-group;
    }

    @media only screen and (min-width: 768px) {
        float: left;
        width: 50%;
    }

    .image {
        img {
            margin-bottom: 20px;

            @media only screen and (min-width: 320px) and (max-width: 768px) {
                width: 280px;
            }

            @media only screen and (min-width: 768px) and (max-width: 1024px) {
                width: 350px;
            }
        }
    }
}

.desc {
    font-size: 24px;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 20px;
    }

    strong {
        color: #fc5454;
        font-weight: normal;
    }
}

.reviews {
    @media only screen and (max-width: 768px) {
        display: table-row-group;
    }

    @media only screen and (min-width: 768px) {
        width: 25%;
        float: left;
    }
}

.features {
    @media only screen and (max-width: 768px) {
        display: table-footer-group;
    }

    @media only screen and (min-width: 768px) {
        width: 25%;
        float: right;
    }
}

.reviews, .features {
    font-size: 21px;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 18px;
    }

    .item {
        margin: 60px 0;

        &:first-child {
            margin-top: 0;
        }

        .image {
            margin-bottom: 25px;

            img {
                @media only screen and (min-width: 768px) and (max-width: 1024px) {
                    width: 180px;
                }
            }
        }
    }
}

.make-order {
    margin-bottom: 40px;

    @media only screen and (min-width: 1024px) {
        margin-top: 30px;
    }

    button {
        padding: 20px;
        border: 0;
        border-radius: 10px;
        color: white;
        background-image: linear-gradient(90deg, #613c63 0%, #855987 100%);
        font-size: 32px;
        box-shadow: 0 20px 40px #382539;

        @media only screen and (min-width: 768px) and (max-width: 1024px) {
        }
    }
}

.price-hint {
    font-size: 15px;
    font-style: italic;
    color: #dcdcdc;
    padding-bottom: 80px;
    margin-bottom: 80px;
    background-image: url(../i/Skraffi.png);
    background-size: 70px 70px;
    background-repeat: no-repeat;
    background-position: center bottom;
}
