﻿.book-item {
    margin-bottom: 60px;
    display: inline-block;
    width: 300px;
    vertical-align: top;

    .image {
        margin-bottom: 20px;
    }

    .caption {
        padding: 0 5%;

        u {
            color: #4285be;
        }
    }
}

.load-books-btn {
    background-color: white;
    color: #4285be;
    border: 2px solid #96c2e4;
    width: 280px;
    height: 40px;
    border-radius: 5px;
    font-size: 17px;
    outline: 0;
}
