html,
body {
    background-color: white;
    color: black;
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    font-size: 19px;
}

header {
    padding: 40px 0;
    overflow: hidden;

    .logo {
        height: 36px;
        width: 300px;
        margin-bottom: 40px;
        background-image: url(../i/fbb-logo.png);
        background-repeat: no-repeat;
        background-size: 300px 36px;

        @media only screen and (min-width: 980px) and (max-width: 1366px) {
            float: left;
            margin-left: 24px;
        }

        @media only screen and (min-width: 1366px) {
            float: left;
            margin-left: 44px;
        }

        a {
            display: block;
            height: 100%;
            width: 100%;
        }
    }

    .search {
        text-align: center;
        position: relative;

        @media only screen and (min-width: 980px) and (max-width: 1366px) {
            float: right;
            margin-left: 24px;
        }

        @media only screen and (min-width: 1366px) {
            float: right;
            margin-left: 44px;
        }

        input[type=text] {
            height: 26px;
            width: 265px;
            border: 2px solid #bbbbbb;
            border-radius: 15px;
            outline: 0;
            padding-left: 30px;
            font-size: 15px;
            background-image: url(../i/magnify.png);
            background-position: 6px 5px;
            background-repeat: no-repeat;
        }
    }
}

.container {
    min-height: 100%;
    padding: 0 10px;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        padding: 0 15px;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        padding: 0 20px;
    }

    @media only screen and (min-width: 1366px) {
        padding: 0 40px;
        max-width: 1200px;
        margin: 0 auto;
    }

    main {
        padding-bottom: 220px;
        text-align: center;
    }

}

footer {
    height: 192px;
    margin-top: -192px;
    text-align: center;

    .bender {
        height: 192px;
        width: 300px;
        margin: 0 auto;
        background-image: url(../i/bender.png);

        a {
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}


h1 {
    font-size: 38px;
    margin: 0 0 40px;

    @media only screen and (min-width: 768px) and (max-width: 1024px) {
        font-size: 46px;
    }

    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        font-size: 52px;
    }

    @media only screen and (min-width: 1366px) {
        font-size: 72px;
    }
}

h1 + .hint {
    display: none;
    font-size: 26px;
    margin: 50px 100px;

    @media only screen and (min-width: 1024px) and (max-width: 1366px) {
        display: block;
    }

    @media only screen and (min-width: 1366px) {
        display: block;
        font-size: 32px;
        margin: 50px 200px;
    }
}

h2 {
    font-size: 32px;
}

h3 {
    font-size: 24px;
}
